{% load static %}
	<!-- Category Section -->
	<section class="section category-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="section-header text-center">
						<h2 class="mb-1">Explore our <span class="text-linear-primary">Categories</span></h2>
						<p class="sub-title">Service categories help organize and structure the offerings on a
							marketplace, making it easier for users to find what they need.</p>
					</div>
				</div>
			</div>
			<div class="row g-4 row-cols-xxl-6 row-cols-xl-6 row-cols-md-4 row-cols-sm-2 row-cols-1 justify-content-center">
				{% for category in featured_categories %}
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">
						<div class="mx-auto mb-3">
							{% if category.icon %}
								<img src="{{ category.icon }}" class="img-fluid" alt="{{ category.name }}" style="width: 60px; height: 60px; object-fit: cover;">
							{% else %}
								<img src="{% static 'img/icons/category-01.svg' %}" class="img-fluid" alt="{{ category.name }}">
							{% endif %}
						</div>
						<h6 class="fs-14 mb-1">{{ category.name }}</h6>
						<p class="fs-14 mb-0">{{ category.total_services }} Listing{{ category.total_services|pluralize }}</p>
						<a href="{% url 'categories:detail' category.slug %}" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				{% empty %}
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
						<div class="mx-auto mb-3">
							<img src="{% static 'img/icons/category-01.svg' %}" class="img-fluid" alt="img">
						</div>
						<h6 class="fs-14 mb-1">No categories</h6>
						<p class="fs-14 mb-0">0 Listings</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center view-all wow fadeInUp" data-wow-delay="0.2s">
						<a href="{% url 'categories:list' %}" class="btn btn-dark">View All<i
								class="ti ti-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Category Section -->