{% load static %}
	<!-- Category Section -->
	<section class="section category-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="section-header text-center mb-4">
						<h2 class="mb-1">Explore our <span class="text-linear-primary">Categories</span></h2>
						<p class="sub-title">Service categories help organize and structure the offerings on a
							marketplace, making it easier for users to find what they need.</p>
					</div>
				</div>
			</div>
			<div
				class="row g-4 row-cols-xxl-6 row-cols-xl-6 row-cols-md-4 row-cols-sm-2 row-cols-1 justify-content-center">
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-01.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Construction</h6>
						<p class="fs-14 mb-0">9874 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-02.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Removals</h6>
						<p class="fs-14 mb-0">787 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-13.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Cleaning</h6>
						<p class="fs-14 mb-0">2357 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-04.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Computer Service</h6>
						<p class="fs-14 mb-0">1260 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-05.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Electrical</h6>
						<p class="fs-14 mb-0">4546 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-06.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Man & Van</h6>
						<p class="fs-14 mb-0">2546 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-07.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Deliveries</h6>
						<p class="fs-14 mb-0">4547 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-08.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Mobile Barber</h6>
						<p class="fs-14 mb-0">4787 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
						<span class="badge bg-success">New</span>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-09.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Interior</h6>
						<p class="fs-14 mb-0">1457 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-10.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Plumbing</h6>
						<p class="fs-14 mb-0">4157 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-11.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Nail Technicians</h6>
						<p class="fs-14 mb-0">5477 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
				<div class="col d-flex">
					<div class="category-item text-center flex-fill wow fadeInUp" data-wow-delay="0.2s">
					<div class="mx-auto mb-3">
						<img src="{% static 'img/icons/category-12.svg' %}" class="img-fluid" alt="img">
					</div>
						<h6 class="fs-14 mb-1">Hair Dressers</h6>
						<p class="fs-14 mb-0">7457 Listings</p>
						<a href="categories.html" class="link-primary text-decoration-underline fs-14">View All</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center view-all wow fadeInUp" data-wow-delay="0.2s">
						<a href="categories.html" class="btn btn-dark">View All<i
								class="ti ti-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Category Section -->