{% load static %}
	<!-- Service Section -->
	<section class="section service-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="section-header text-center">
						<h2 class="mb-1">Our Featured <span class="text-linear-primary">Services</span></h2>
						<p class="sub-title">Each listing is designed to be clear and concise, providing customers</p>
					</div>
				</div>
			</div>
			<div class="service-slider owl-carousel nav-center">
				<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<h6 class="text-truncate mb-1"><a href="service-details.html">Professional Delivery Services</a>
						</h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fw-medium fs-14 mb-0">Service starts at $40</p>
							<span class="d-inline-flex align-items-center fs-14"><i
									class="ti ti-star-filled text-warning me-1"></i>4.5</span>
						</div>
					</div>
				</div>
				<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<h6 class="text-truncate mb-1"><a href="service-details.html">Classic Manicure & Set of
								Nails</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fw-medium fs-14 mb-0">Service starts at $20</p>
							<span class="d-inline-flex align-items-center fs-14"><i
									class="ti ti-star-filled text-warning me-1"></i>4.4</span>
						</div>
					</div>
				</div>
				<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-07.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<h6 class="text-truncate mb-1"><a href="service-details.html">Water Heater Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fw-medium fs-14 mb-0">Service starts at $65</p>
							<span class="d-inline-flex align-items-center fs-14"><i
									class="ti ti-star-filled text-warning me-1"></i>4.2</span>
						</div>
					</div>
				</div>
				<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-10.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<h6 class="text-truncate mb-1"><a href="service-details.html">General House & Carpet Clean</a>
						</h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fw-medium fs-14 mb-0">Service starts at $95</p>
							<span class="d-inline-flex align-items-center fs-14"><i
									class="ti ti-star-filled text-warning me-1"></i>4.7</span>
						</div>
					</div>
				</div>
				<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-16.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-17.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-18.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<h6 class="text-truncate mb-1"><a href="service-details.html">Custom PC Builds</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fw-medium fs-14 mb-0">Service starts at $85</p>
							<span class="d-inline-flex align-items-center fs-14"><i
									class="ti ti-star-filled text-warning me-1"></i>4.8</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center wow fadeInUp" data-wow-delay="0.2s">
						<a href="search.html" class="btn btn-dark">View All<i
								class="ti ti-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Service Section -->