{% include 'components/home/explore_categories.html' %}
{% include 'components/home/featured_service.html' %}
{% include 'components/home/popular_provider.html' %}
{% include 'components/home/popular_service.html' %}
{% include 'components/home/prefered_service.html' %}
{% include 'components/home/work_section.html' %}
{% include 'components/home/became_provider.html' %}
{% include 'components/home/category_services.html' %}
{% include 'components/home/business_section.html' %}
{% comment %} {% include 'components/home/testimonial.html' %}
{% include 'components/home/blogs.html' %} {% endcomment %}
{% include 'components/home/like.html' %}
