{% load static %}


	<!-- Popular Providers -->
	<section class="section pt-0">
		<div class="container">
			<div class="provider-sec">
				<div class="row justify-content-center">
					<div class="col-lg-12 text-center wow fadeInUp" data-wow-delay="0.2s">
						<div class="section-header text-center">
							<h2 class="mb-1">Popular <span class="text-linear-primary">Providers</span></h2>
							<p class="sub-title">Each listing is designed to be clear and concise, providing customers
							</p>
						</div>
					</div>
				</div>
				<div class="row gx-0">
					{% for provider in popular_providers %}
					<div class="col-xl-3 col-lg-4 col-md-6 d-flex">
						<div class="provider-item flex-fill">
							<div class="d-flex align-items-center">
								<a href="{% url 'providers:detail' provider.id %}" class="avatar avatar-xl me-2">
									{% if provider.business_logo %}
									<img src="{{ provider.business_logo.url }}" alt="{{ provider.business_name }}" class="rounded-circle">
									{% else %}
									<img src="https://i.pravatar.cc/150?img={{ forloop.counter }}" alt="{{ provider.business_name }}" class="rounded-circle">
									{% endif %}
								</a>
								<div>
									<h6><a href="{% url 'providers:detail' provider.id %}">{{ provider.business_name }}</a></h6>
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>{{ provider.rating|floatformat:1 }} ({{ provider.total_reviews }}
										Reviews)</p>
									<p class="mb-0">{{ provider.service_count|default:0 }} Service{{ provider.service_count|pluralize }}</p>
								</div>
							</div>
						</div>
					</div>
					{% empty %}
					<div class="col-12">
						<p class="text-center">No popular providers available at the moment.</p>
					</div>
					{% endfor %}
				</div>
				<div class="text-center view-all wow fadeInUp" data-wow-delay="0.2s">
					<a href="{% url 'providers:list' %}" class="btn btn-dark">View All<i class="ti ti-arrow-right ms-2"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- /Popular Providers -->


	
