{% load static %}




	<!-- Popular Section -->
	<section class="section popular-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="section-header text-center mb-4">
						<h2 class="mb-1">Our Popular <span class="text-linear-primary">Services</span></h2>
						<p class="sub-title">Each listing is designed to be clear and concise, providing customers</p>
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs nav-tabs-solid justify-content-center mb-4">
				<li class="nav-item mb-3"><a class="nav-link active" href="#computer-service"
						data-bs-toggle="tab">Computer Service</a></li>
				<li class="nav-item mb-3"><a class="nav-link" href="#removals" data-bs-toggle="tab">Removals</a></li>
				<li class="nav-item mb-3"><a class="nav-link" href="#man" data-bs-toggle="tab">Man & Van</a></li>
				<li class="nav-item mb-3"><a class="nav-link" href="#furniture" data-bs-toggle="tab">Furniture
						Assembly</a></li>
				<li class="nav-item mb-3"><a class="nav-link" href="#electrical" data-bs-toggle="tab">Electrical</a>
				</li>
				<li class="nav-item mb-3"><a class="nav-link" href="#construction" data-bs-toggle="tab">Construction</a>
				</li>
				<li class="nav-item mb-3"><a class="nav-link" href="#plumbing" data-bs-toggle="tab">Plumbing</a></li>
				<li class="nav-item mb-3"><a class="nav-link" href="#more-service" data-bs-toggle="tab">More
						Services</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active show" id="computer-service">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-19.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-15.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-02.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-20.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-03.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-21.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-04.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-22.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-05.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
						<div class="service-item wow fadeInUp" data-wow-delay="0.2s">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-13.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-14.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-15.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Server Management</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (260
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="removals">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-07.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-10.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="man">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-03.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-07.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-05.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-10.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-02.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="furniture">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-11.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-12.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-07.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-17.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-10.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="electrical">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-54.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-08.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-56.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-14.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-62.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-16.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-59.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-19.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="construction">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-54.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-06.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Residential
										Construction</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.1 (120
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-63.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-04.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-60.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-15.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="plumbing">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-55.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-13.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Backup & Recovery</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-51.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-18.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-58.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-14.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Setup & Configuration</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (300
										Reviews)</p>
									<small>From $200</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-61.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Troubleshooting &
										Diagnostics</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="more-service">
					<div class="feature-slider owl-carousel nav-center">
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-20.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-05.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Repairs & Upgrades</a>
								</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-08.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Manicure Services</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (120
										Reviews)</p>
									<small>From $150</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-13.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-14.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-15.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-14.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Server Management</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (260
										Reviews)</p>
									<small>From $350</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-10.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-13.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">House CLeaning</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (280
										Reviews)</p>
									<small>From $250</small>
								</div>
							</div>
						</div>
						<div class="service-item">
							<div class="service-img">
								<div class="img-slider owl-carousel nav-center">
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
									<div class="slide-images">
										<a href="service-details.html">
											<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
										</a>
									</div>
								</div>
								<div class="fav-item d-flex align-items-center justify-content-between w-100">
									<a href="javascript:void(0);" class="avatar avatar-md">
										<img src="{% static 'img/profiles/avatar-12.jpg' %}" class="rounded-circle" alt="User">
									</a>
									<a href="javascript:void(0);" class="fav-icon">
										<i class="ti ti-heart"></i>
									</a>
								</div>
							</div>
							<div class="service-content">
								<h6 class="mb-1 text-truncate"><a href="service-details.html">Delivery Services</a></h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254
										Reviews)</p>
									<small>From $100</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center wow fadeInUp" data-wow-delay="0.2s">
						<a href="search.html" class="btn btn-dark">View All<i
								class="ti ti-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Popular Section -->
