{% load static %}


	<section class="section pt-0 pb-0">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 text-center wow fadeInUp" data-wow-delay="0.2s">
					<div class="section-header text-center">
						<h2 class="mb-1">Most <span class="text-linear-primary">Preferred Services</span></h2>
						<p class="sub-title">Each listing is designed to be clear and concise, providing customers</p>
					</div>
				</div>
			</div>
			<div class="popular-slider-3 owl-carousel nav-center">
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-05.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Trivala Anderson</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Cabinet Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">3K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-24.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-17.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">William Tichenor</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Express Car Wash</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.6 (214 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">2K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-25.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-08.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-09.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-16.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Edwin Murphy</p>
							</a>
							<small class="mb-2">From $280</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Haircut and Styling</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.7 (230 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">2K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-50.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-11.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-12.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="avatar avatar-md">
								<img src="{% static 'img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User">
							</a>
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-06.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Wesley McClure</p>
							</a>
							<small class="mb-2">From $400</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Roofing Services</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (123 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">4K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-47.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-48.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-49.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-09.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">James Reese</p>
							</a>
							<small class="mb-2">From $180</small>
						</div>
						<h6 class="mb-2"><a href="service-details.html">Pure Home Cleaning</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.2 (300 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">1K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-51.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-25.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Kimberly Carey</p>
							</a>
							<small class="mb-2">From $120</small>
						</div>
						<h6 class="mb-2"><a href="service-details.html">Crystal Shine Manicure</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.4 (270 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">2K Bookings</span>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="popular-slider-3 owl-carousel nav-center">
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-05.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Trivala Anderson</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Cabinet Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">3K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-05.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Trivala Anderson</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Cabinet Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">3K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-05.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Trivala Anderson</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Cabinet Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">3K Bookings</span>
						</div>
					</div>
				</div>
				<div class="service-item">
					<div class="service-img">
						<div class="img-slider owl-carousel nav-center">
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
							<div class="slide-images">
								<a href="service-details.html">
									<img src="{% static 'img/services/service-23.jpg' %}" class="img-fluid" alt="img">
								</a>
							</div>
						</div>
						<div class="trend-icon">
							<span class="bg-success">
								<i class="feather-trending-up"></i>
							</span>
						</div>
						<div class="fav-item">
							<a href="javascript:void(0);" class="fav-icon">
								<i class="ti ti-heart"></i>
							</a>
						</div>
					</div>
					<div class="service-content">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<a href="provider-details.html" class="d-flex align-items-center mb-2 service-pro-info">
								<span class="avatar avatar-sm me-2">
									<img src="{% static 'img/profiles/avatar-05.jpg' %}" alt="img"
										class="img-fluid rounded-circle">
								</span>
								<p class="fs-14">Trivala Anderson</p>
							</a>
							<small class="mb-2">From $350</small>
						</div>
						<h6 class="mb-2"><a href="javascript:void(0);">Cabinet Installation</a></h6>
						<div class="d-flex align-items-center justify-content-between">
							<p class="fs-14 mb-0"><i class="ti ti-star-filled text-warning me-1"></i>4.5 (254 Reviews)
							</p>
							<span class="badge badge-dark-transparent fw-medium p-2">3K Bookings</span>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</section>