{% load static %}
	<!-- Work Section-->
	<section class="section pt-0">
		<div class="container">
			<div class="work-section bg-black m-0">
				<div class="row align-items-center bg-01">
					<div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
						<div class="section-header text-center">
							<h2 class="text-white">How Truelysell <span
									class="text-linear-primary">Works</span></h2>
							<p class="text-light">Each listing is designed to be clear and concise, providing customers
							</p>
						</div>
					</div>
				</div>
				<div class="row gx-0 gy-4">
					<div class="col-lg-4 d-flex">
						<div class="work-item text-center flex-fill">
							<div class="mb-3">
								<img src="{% static 'img/icons/work-01.svg' %}" alt="img">
							</div>
							<h6 class="text-white mb-2">1. Post a Service</h6>
							<p>After you post a job, our matching system identifies and alerts relevant Provider, who
								can then express interest in your job.</p>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="work-item text-center flex-fill">
							<div class="mb-3">
								<img src="{% static 'img/icons/work-01.svg' %}" alt="img">
							</div>
							<h6 class="text-white mb-2">2. Getting Booked & Job done</h6>
							<p>After you post a job, our matching system identifies and alerts relevant Provider, who
								can then express interest in your job.</p>
						</div>
					</div>
					<div class="col-lg-4 d-flex">
						<div class="work-item work-03 text-center flex-fill">
							<div class="mb-3">
								<img src="{% static 'img/icons/work-03.svg' %}" alt="img">
							</div>
							<h6 class="text-white mb-2">3. Get Reviewd & Get Leads</h6>
							<p>After you post a job, our matching system identifies and alerts relevant Provider, who
								can then express interest in your job.</p>
						</div>
					</div>
				</div>
				<div class="work-bg1">
					<img src="{% static 'img/bg/work-bg-01.svg' %}" class="img-fluid" alt="img">
				</div>
				<div class="work-bg2">
					<img src="{% static 'img/bg/work-bg-02.svg' %}" class="img-fluid" alt="img">
				</div>
			</div>
		</div>
	</section>
	<!-- /Work Section -->
