<div class="col-xl-3 col-lg-4 theiaStickySidebar">
  <div
    class="card shadow-none bg-light-500 booking-sidebar request-sidebar mb-4 mb-lg-0"
  >
    <div class="card-body">
      <div class="service-info bg-white d-flex align-items-center mb-3">
        <span class="avatar avatar-xl me-2 flex-shrink-0">
          <img
            src="assets/img/service-request.jpg"
            class="border-0"
            alt="img"
          />
        </span>
        <div>
          <h5 class="mb-1">Removals</h5>
          <p class="fs-14">35 Providers Available</p>
        </div>
      </div>
      <div class="booking-wizard p-0">
        <h6 class="mb-3 fw-semibold">Steps</h6>
        <ul class="wizard-progress" id="bokingwizard">
          <li class="active pb-4">
            <span>Basic Information</span>
          </li>
          <li class="pb-4">
            <span>Booking Schedule</span>
          </li>
          <li class="pb-4">
            <span>Collection Address Details</span>
          </li>
          <li class="pb-4">
            <span>Delivery Address Details</span>
          </li>
          <li class="pb-4">
            <span>Additional Items</span>
          </li>
          <li class="pb-4">
            <span>Review Order</span>
          </li>
          <li>
            <span>Checkout</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
