{% load static %}
<div class="service-details-content">
  
  <div class="card border-0 mb-3 p-2 md:p-3">
    <div class="card-header bg-transparent border-0 p-0 pb-2">
      <h4 class="mb-0">Service Overview</h4>
    </div>
    <div class="card-body p-0">
      <div class="more-text">
          {{ service.overview|linebreaks }}
        </div>
        <a
          href="javascript:void(0);"
          class="link-primary text-decoration-underline more-btn mb-3"
          >Read More</a
        >
        
        {% if sub_services %}
        <div class="bg-light-200 p-3 offer-wrap" id="servicesOffered">
          <h4 class="mb-3">Services Offered</h4>
          {% for sub_service in sub_services %}
          <div class="offer-item d-md-flex align-items-center justify-content-between bg-white {% if not forloop.last %}mb-2{% endif %}">
            <div class="d-sm-flex align-items-center mb-2 flex-grow-1">
              <span class="avatar avatar-lg flex-shrink-0 me-2 mb-2">
                {% if sub_service.image %}
                  <img src="{{ sub_service.image_thumbnail.url }}" alt="{{ sub_service.alt_text|default:sub_service.name }}" class="br-10" />
                {% else %}
                  <img src="{% static 'img/services/rated-service-01.jpg' %}" alt="{{ sub_service.name }} service icon" class="br-10" />
                {% endif %}
              </span>
              <div class="mb-2 flex-grow-1">
                <h6 class="fs-16 fw-medium">{{ sub_service.name }}</h6>
                <p class="fs-14 mb-0">{{ sub_service.description }}</p>
                <small class="text-muted">Duration: {{ sub_service.duration }} Min</small>
              </div>
            </div>
            <div class="pb-3 ps-3">
              <input type="checkbox" class="form-check-input" id="service_{{ sub_service.id }}" name="selected_services" value="{{ sub_service.id }}">
              <label class="form-check-label ms-2" for="service_{{ sub_service.id }}">Select</label>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>

  {% if includes %}
  <div class="card border-0 mb-3 p-2 md:p-3">
    <div class="card-header bg-transparent border-0 p-0 pb-2">
      <h4 class="mb-0">Includes</h4>
    </div>
    <div class="card-body p-0">
        <div class="bg-light-200 p-3 pb-2 br-10">
          {% for include in includes %}
          <p class="d-inline-flex align-items-center mb-2 me-4">
            <i class="feather-check-circle text-success me-2"></i>{{ include.title }}
          </p>
          {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}

  {% if additional_images %}
  <div class="card border-0 mb-3  p-2 md:p-3">
    <div class="card-header bg-transparent border-0 p-0 pb-2">
      <h4 class="mb-0">Gallery</h4>
    </div>
    <div class="card-body p-0">
        <div class="gallery-slider owl-carousel nav-center">
          {% for img in additional_images %}
          <a
            href="{{ img.image_gallery.url }}"
            data-fancybox="gallery2"
            class="gallery-item"
          >
            <img src="{{ img.image_gallery.url }}" alt="{{ img.alt_text|default:img.caption|default:'Service Gallery Image' }}" />
          </a>
          {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}

  {% if service.video_url %}
  <div class="card border-0 mb-3 p-2 md:p-3">
    <div class="card-header bg-transparent border-0 p-0 pb-2">
      <h4 class="mb-0">Video</h4>
    </div>
    <div class="card-body p-0">
        <div class="video-wrap">
          <a
            class="video-btn video-effect"
            data-fancybox=""
            href="{{ service.video_url }}"
            ><i class="fa-solid fa-play"></i
          ></a>
        </div>
    </div>
  </div>
  {% endif %}

  {% if faqs %}
  <div class="card border-0 mb-0 p-2 md:p-3">
    <div class="card-header bg-transparent border-0 p-0 pb-2">
      <h4 class="mb-0">FAQ's</h4>
    </div>
    <div class="card-body p-0">
        <div x-data="{ active: 1 }" class="space-y-4 gap-5">
            {% for faq in faqs %}
            <div class="bg-neutral-50 rounded-lg border border-neutral-300">
                <button @click="active = (active === {{ forloop.counter }} ? null : {{ forloop.counter }})" class="w-full flex justify-between items-center p-3 text-left font-medium text-gray-900 focus:outline-none">
                    <span>{{ faq.question }}</span>
                    <span x-show="active !== {{ forloop.counter }}"><i class="fa-solid fa-chevron-down"></i></span>
                    <span x-show="active === {{ forloop.counter }}"><i class="fa-solid fa-chevron-up"></i></span>
                </button>
                <div x-show="active === {{ forloop.counter }}" x-transition class="px-3 pb-3 text-gray-600 bg-white border-t border-neutral-100">
                    <p class="mb-0">{{ faq.answer }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>