{% load static %}

<!-- Breadcrumb -->
	<div class="breadcrumb-bar text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<h2 class="breadcrumb-title mb-2">Service Details</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center mb-0">
							<li class="breadcrumb-item"><a href="index.html"><i class="ti ti-home-2"></i></a></li>
							<li class="breadcrumb-item">Service</li>
							<li class="breadcrumb-item active" aria-current="page">Service Details</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="breadcrumb-bg">
				<img src="{% static 'img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
				<img src="{% static 'img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->