{% load static %}
<!-- Slider -->
<div class="service-wrap mb-3">
	<div class="slider-wrap">
		<div class="owl-carousel service-carousel nav-center mb-3" id="large-img">
			<!-- Main service image -->
			<div class="service-img">
				{% if service.featured_image %}
					<img src="{{ service.image_detail.url }}" class="img-fluid" alt="{{ service.alt_text|default:service.name }}">
				{% else %}
					<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="{{ service.name }}">
				{% endif %}
			</div>
			
			<!-- Additional images from AdditionalImage model -->
			{% for img in additional_images %}
			<div class="service-img">
				<img src="{{ img.image_gallery.url }}" class="img-fluid" alt="{{ img.alt_text|default:img.caption|default:service.name }}">
			</div>
			{% endfor %}
		</div>
		{% if service.featured_image %}
		<a href="{{ service.image_gallery.url }}" data-fancybox="gallery" class="btn btn-white btn-sm view-btn">
			<i class="feather-image me-1"></i>View all Images
		</a>
		{% endif %}
	</div>
	<div class="owl-carousel slider-nav-thumbnails nav-center" id="small-img">
		<!-- Main service thumbnail -->
		<div>
			{% if service.featured_image %}
				<img src="{{ service.image_card.url }}" class="img-fluid" alt="{{ service.alt_text|default:service.name }} thumbnail">
			{% else %}
				<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="{{ service.name }} thumbnail">
			{% endif %}
		</div>
		
		<!-- Additional image thumbnails -->
		{% for img in additional_images %}
		<div><img src="{{ img.image_thumbnail.url }}" class="img-fluid" alt="{{ img.alt_text|default:img.caption|default:service.name }} thumbnail"></div>
		{% endfor %}
	</div>
</div>
<!-- /Slider -->