{% load static %}
<!-- Slider -->
<div class="service-wrap mb-3">
	<div class="slider-wrap">
		<div class="owl-carousel service-carousel nav-center mb-3" id="large-img">
			<div class="service-img">
				<img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
			<div class="service-img">
				<img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
			<div class="service-img">
				<img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
			<div class="service-img">
				<img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
			<div class="service-img">
				<img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
			<div class="service-img">
				<img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="Electrical Service">
			</div>
		</div>
		<a href="{% static 'img/services/service-01.jpg' %}" data-fancybox="gallery" class="btn btn-white btn-sm view-btn"><i class="feather-image me-1"></i>View all Images</a>
	</div>
	<div class="owl-carousel slider-nav-thumbnails nav-center" id="small-img">
		<div><img src="{% static 'img/services/service-01.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
		<div><img src="{% static 'img/services/service-02.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
		<div><img src="{% static 'img/services/service-03.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
		<div><img src="{% static 'img/services/service-04.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
		<div><img src="{% static 'img/services/service-05.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
		<div><img src="{% static 'img/services/service-06.jpg' %}" class="img-fluid" alt="Service Thumbnail"></div>
	</div>
</div>
<!-- /Slider -->