	<!-- success message Modal -->
	<div class="modal fade" id="success-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
					<a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
							class="ti ti-circle-x-filled fs-20"></i></a>
				</div>
				<div class="modal-body p-4">
					<div class="text-center">
						<span class="success-check mb-3 mx-auto"><i class="ti ti-check"></i></span>
						<h4 class="mb-2">Success</h4>
						<p>Your new password has been successfully saved</p>
						<div>
							<button type="submit" class="btn btn-lg btn-linear-primary w-100">Back to Sign In</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /success message Modal -->