	<!-- Success Modal -->
	<div class="modal fade" id="success_modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="mb-4">
						<span class="success-icon mx-auto mb-4">
							<i class="ti ti-check"></i>
						</span>
						<h4 class="mb-1">Registration Successful</h4>
						<p>You will get a Verification link Via email for the Verify the Account.</p>
					</div>
					<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-linear-primary">Close</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Success Modal -->git branch -M main